/* check out: typewriter effect, hexagons/honeycomb grid, Responsive Honeycomb Grid, 
honeycomb buttons on hover, gradient color, Parallax scrolling, CSS Card Collections, turn Cards, CSS Box Shadow generator (als Bilderrahmen),
CSS Picture Frame (saved on codepen) responsive?, construct gallery, slideshow, pagination */

.cardgrid {
  /*display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  width: 80%;
  margin-top: 15px;
  height: 100%;
  margin: 5;
  padding: 5;
  width: 80vw;
  column-count: 3;
  column-gap: 10px;
  grid-gap: 5px;
  justify-content: center;*/
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  width: 100%;
  /*background: #404042;*/
  /*background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
}

img {
  display: flex;
  border-radius: 16px;
  display: inline-flex;
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.container {
  /*background-color: lemonchiffon;*/
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #dadffa);
}
/*
.container {
   margin-top: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 800px;
  margin: auto;
} */
/*
.headersection {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 12 4 4 12;
  background-color: burlywood;
  color: lemonchiffon;
}
*/
/*
h1, h2, h3 {
  font-family: Chivo;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}


body {
  font-family: Overpass;
  margin: 0;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

p {
  color: #404042;
  opacity: .7;
}

.container {
  width: 800px;
  margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}


.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: white;
} */

/*
.App {
  background-color: azure;
  margin: 0;
  padding: 0;
  width: "80vw";
  position: "absolute";
  left: "50%";
  transform: "translateX(-50%)";
  display: "grid";
} */
.navigationfield {
  display: flex;
  flex-direction: row;
  height: 56 px;
  padding: 12px 4px 4px 16px;
  background-color: rgb(87, 137, 247);
  width: 100%;
  display: inline-flex;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #dadffa);
}

.searchfield {
  border-radius: 24px;

  height: 56 px;
  background-color: azure;
  cursor: pointer;
  color: #1a48e3;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
.refreshbutton {
  border-radius: 24px;

  height: 56 px;
  flex-direction: row;
  background-color: azure;
}
.search {
  display: flex;
  padding: 16px 16px 16px 16px;
}
/*
.imageitem:nth-child(5n) {
  grid-column-end: span 2;
}*/
/*.App {
  background: #404042;
}*/
